body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  padding-inline-start: 40px;
}

ul.headers {
  padding-left: 5px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a -webkit-any-link {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
